/*=============================================
=            mixins            =
=============================================*/
.shadows {
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

* {
  scroll-padding: 50px 50px 0 50px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 5px;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray-dark);
  line-height: 1.5;
  overflow-x: hidden;
}

blockquote {
  font-style: italic;
  line-height: 1.75;
  text-align: center;
}

.list-inline {
  display: flex;
  flex-wrap: wrap;
}

.list-inline > *:not(:last-child) {
  margin-right: 8px;
}

/**
 *
 * BUtton Components
 *
 */
.btngroup {
  margin: -4px;
}

.btngroup > .btn {
  margin: 4px;
}

.btn-primary {
  color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: white;
}

/**
 *
 * hero section
 *
 */
.hero {
  position: relative;
  max-height: 70vh;
  min-height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 500px;
  position: relative;
  z-index: 1;
  padding: 24px;
}

@media (min-width: 992px) {
  .hero-content {
    padding: 0;
  }
}

.hero-title {
  font-size: calc(1.425rem + 2.1vw);
  color: white;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 3rem;
  }
}

.hero .lead {
  color: white;
}

.hero:after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/**
 *
 * scroll down
 *
 */
.scroll-down {
  opacity: 1;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all .2s ease-in;
  transform: scale(1);
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/**
 *
 * card
 *
 */
/**
 *
 * avatar
 *
 */
.avatar {
  --size:100px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
}

.avatar--center {
  margin: 0 auto;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**
 *
 * social icons
 *
 */
.social-icons {
  display: flex;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0px;
  --size: 1em;
  --bg: #212529;
  --color: white;
}

.social-icons > li > a {
  font-size: 20px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--bg);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.social-icons > li > a .bi {
  font-size: 0.6em;
  color: white;
  line-height: 1;
}

/**
 *
 * search box
 *
 */
.search-btn {
  border-radius: 50%;
  outline: 0;
  border: none;
  display: none;
}

@media (min-width: 992px) {
  .search-btn {
    display: flex;
  }
}

.search-box {
  padding-bottom: 24px;
}

@media (min-width: 992px) {
  .search-box {
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    z-index: 10;
    right: 0;
    background: white;
    padding: 16px;
    transition: 0.3s;
  }
}

.search-box.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.search-box form {
  display: flex;
}

/**
 *
 * isotop filter
 *
 */
.filters-button-group {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.filters-button-group .btn {
  text-transform: capitalize;
  transform: 0.3s;
}

.filters-button-group .btn.is-checked {
  border-style: dashed;
  border-color: currentcolor;
  border-width: 2px;
  color: #70a742;
  font-weight: bold;
}

.filters-button-group .btn.is-checked:hover {
  color: white;
}

/**
 *
 * product
 *
 */
.products-group {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.products-group--isotope {
  opacity: 0;
}

.card--product {
  overflow: hidden;
}

.card--product .card-img-overlay {
  text-decoration: none;
}

.card--product .card-img-overlay:after {
  background: rgba(112, 167, 66, 0);
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 0.3s;
}

.card--product .btn {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.3s;
  opacity: 0;
}

.card--product:hover .card-img-overlay:after {
  background: rgba(112, 167, 66, 0.7);
}

.card--product:hover .btn {
  top: 50%;
  opacity: 1;
}

.card--product .card-title {
  color: #212529;
  font-size: 14px;
  flex: 1;
  margin-right: 6px;
}

.card--product .product-price {
  font-weight: bold;
  font-size: 14px;
}

/*=============================================
=            offcanvas            =
=============================================*/
@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-wrapper {
  flex-grow: 1;
}

.section {
  padding: 80px 0;
  position: relative;
  max-width: 100%;
}

.section-header {
  margin-bottom: 40px;
}

.section-title {
  --line-length: 30px;
  text-align: center;
  display: inline-grid;
  grid-template-columns: var(--line-length) auto var(--line-length);
  grid-gap: 20px;
  color: #212529;
  text-transform: capitalize;
}

.section-title--left {
  text-align: left;
  grid-template-columns: auto var(--line-length);
}

.section-title--left:before {
  display: none;
}

@supports (display: grid) {
  .section-title:before, .section-title:after {
    content: "";
    align-self: center;
    border-top: 1px solid currentColor;
  }
}

.section--about {
  background-color: #f5f0ea;
}

.sub-heading {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/**
 *
 * footer
 *
 */
.footer .widget-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

.footer .menu {
  list-style: none;
  padding: 0;
  columns: 2;
}

.footer .menu li {
  margin-bottom: 6px;
}

.footer-main {
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 30px;
}

/**
 *
 * header
 *
 */
.header .navbar {
  background: white;
}

.header .navbar-transparent {
  background: transparent;
}

.header .navbar-brand {
  padding: 0;
}

.header .navbar-brand img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s;
  display: block;
}

@media (max-width: 767.98px) {
  .header .navbar-nav-top {
    display: none;
  }
}

.header .navbar-nav-top .nav-link {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px 16px !important;
  gap: 12px;
  font-size: 14px;
  color: #212529;
}

.header .navbar-nav-top .nav-link [class*="bi"] {
  font-size: 20px;
  line-height: 1;
  color: #70a742;
}

.header .navbar-nav-top .nav-link .nav-label-title {
  font-weight: bold;
  display: block;
}

.header .navbar-nav-top .nav-link .nav-label-subtitle {
  font-size: 14px;
}

.header .navbar-nav-top .nav-link .icon-wrapper {
  border: 1px solid #e5e5e5;
  display: grid;
  place-items: center;
  padding: 6px;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  transition: 0.3s;
}

.header .navbar-nav-top .nav-link:hover {
  color: #212529;
}

.header .navbar-nav-top .nav-link:hover .icon-wrapper {
  border-color: #70a742;
  background-color: #70a742;
}

.header .navbar-nav-top .nav-link:hover [class*="bi"] {
  color: #fff;
}

@media (min-width: 992px) {
  .header .navbar-nav-top .nav-item.highlight {
    align-self: center;
    margin-left: 20px;
  }
}

.header .navbar-nav-top .nav-item.highlight .nav-link {
  background: #70a742;
  color: white !important;
}

.header .navbar-hat {
  padding: 8px 0;
  background-color: #f1f1f1;
}

.header .navbar-hat .text-small {
  font-size: 13px;
  color: #212529;
}

.header .navbar-main {
  padding: 0;
  background-color: #152816;
}

.header .navbar-main .nav-link {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

.header .navbar-main .nav-link.active {
  background-color: #70a742;
}

@media (max-width: 767.98px) {
  .header .navbar-main .navbar-nav {
    margin: 16px 0;
  }
  .header .navbar-main .navbar-nav .nav-link {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/**
 *
 * blockquote section
 *
 */
.section--blockquotes {
  display: flex;
  flex-direction: column;
}

.blockquotes-wrapper {
  background-color: #1ab4bb;
  padding: 80px 0;
  color: white;
}

.blockquotes-wrapper blockquote {
  margin-bottom: 0;
  font-size: calc(1.3125rem + 0.75vw);
  position: relative;
}

@media (min-width: 1200px) {
  .blockquotes-wrapper blockquote {
    font-size: 1.875rem;
  }
}

.blockquotes-wrapper blockquote:before {
  font-family: "Material Icons";
  content: "format_quote";
  transform: rotateZ(-180deg);
  display: inline-block;
  font-size: 166;
  position: absolute;
  top: 0;
  line-height: 1px;
  opacity: 0.3;
  left: 0;
}

/**
 *
 *  testimonials
 *
 */
.testimonials-block {
  top: -15px;
  left: 0;
  right: 0;
  position: absolute;
}

/**
 *
 * s-categories
 *
 */
.s-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-row: 2;
  gap: 16px;
  gap: 16px;
}

.s-categories-item {
  background: blue;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  min-height: 250px;
  position: relative;
}

.s-categories-item--big {
  grid-row: 1 / span 2;
  background-position: bottom center;
  text-align: center;
  background-color: #c4e3e8;
}

@media (max-width: 991.98px) {
  .s-categories-item--big {
    text-align: left;
    background-position: 140px 90%;
  }
  .s-categories-item--big .s-categories-content {
    max-width: 55%;
  }
}

.s-categories-item:not(.s-categories-item--big) {
  background-position: bottom right;
}

.s-categories-item:not(.s-categories-item--big) .s-categories-content {
  max-width: 50%;
}
/*# sourceMappingURL=app.css.map */